target/
lib_managed/
src_managed/
project/boot/
.idea/*
!.idea/artifacts/
!.idea/artifacts/libraries.xml
!.idea/artifacts/plugin.xml
!.idea/runConfigurations/
!.idea/runConfigurations/IDEA.xml
.idea_modules/
/idea/
